<div class="lgpd-container">
   <mat-card><h1>Lei Geral de Proteção de Dados (LGPD)</h1></mat-card> 
    <p>A Lei Geral de Proteção de Dados é uma legislação que tem como objetivo proteger a privacidade e os dados pessoais dos cidadãos. Ela estabelece regras e diretrizes para o tratamento de dados pessoais por organizações e empresas.</p>
  
    <h2>Principais pontos da LGPD:</h2>
    <ul>
      <li>Consentimento do titular dos dados;</li>
      <li>Transparência no tratamento de dados;</li>
      <li>Proteção dos dados sensíveis;</li>
      <li>Direitos dos titulares dos dados;</li>
      <li>Responsabilidade das organizações;</li>
    </ul>
  
    <h2>Como a LGPD afeta seu negócio:</h2>
    <p>A LGPD exige que as organizações obtenham consentimento dos indivíduos para coletar, armazenar e processar seus dados pessoais. Além disso, ela impõe penalidades severas para violações de dados e falta de conformidade.</p>
  
    <h2>Conformidade com a LGPD:</h2>
    <p>Para garantir a conformidade com a LGPD, é importante que sua organização:</p>
    <ul>
      <li>Nomeie um Encarregado de Proteção de Dados (DPO);</li>
      <li>Implemente medidas de segurança de dados;</li>
      <li>Forneça treinamento em privacidade de dados para funcionários;</li>
      <li>Esteja preparado para responder a solicitações de titulares dos dados;</li>
    </ul>
    <img mat-card-image  src="../../../../assets/lgpd.png" style="overflow: hidden" alt="servico">
  </div>
