<div class="conteiner">
    <mat-card>
        <div class="contato-container">
            <h1>Contato</h1>
            <p>Entre em contato conosco para qualquer dúvida ou informação adicional.</p>
          
            <h2>Endereço:</h2>
            <address>
              Rua Ivo Cesar Niehus, QD 04<br>
              Guarda do Cubatão, Palhoça - SC<br>
              CEP: 88135-330
            </address>
          
            <h2>Dados de Contato:</h2>
            <div class="contato">
                <div class="link"><mat-icon>mail</mat-icon> <a  href="mailto:contato@cotatransporteselog.com.br">contato@cotatransporteselog.com.br</a></div>
                <div class="link"><mat-icon>phone_iphone</mat-icon><a href="https://api.whatsapp.com/send?phone=554820128010"  target="_blank"> (48) 99911-4919</a></div>
                <div><mat-icon>call</mat-icon> (48) 2012-8327</div>
            </div>
        </div>
       
    </mat-card>
    <div class="google_maps">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14131.56494264448!2d-48.6789207!3d-27.6897563!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952733437e759de3%3A0x4124aca622b4a8db!2sCota%20Transportes%20e%20Logistica%20Ltda!5e0!3m2!1spt-BR!2sbr!4v1696108098050!5m2!1spt-BR!2sbr" 
            width="600vw" 
            height="450vh" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
