
<div class="content">
    <h1>Simule Valores</h1>
    <div class="collum">
        <mat-form-field>
            <mat-label>Cep Origem</mat-label>
            <input matInput mask="00000-000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cep Destino</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input type="number" matInput>
        </mat-form-field>
    </div>
    <div class="collum">
    <mat-form-field>
        <mat-label>largura (cm)</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Altura (cm)</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Comprimento (cm)</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    </div>
    <div class="collum_3">
        <mat-form-field>
            <mat-label>Peso</mat-label>
            <input  matInput>
            </mat-form-field>
        <mat-form-field>
            <mat-label>Qtd.</mat-label>
            <input type="number"  matInput>
        </mat-form-field>
            <button class="button_cotacao" mat-button routerLink="cotacao">
            Consultar
            </button>
    </div>
</div>